.aboutus-container{
    margin:40px;
    padding: 20px;
    border: 1px solid #b2b2b2;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
}
.aboutus-container img{
    width: 100%;
}
.aboutus-container h2{
    text-align: center;
    margin-bottom: 20px;
    color: chocolate;
}