header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px;
    margin:2px;
    background-color: chocolate;
    opacity: 0.8;
    color:white;
}
header hr{
    border:1px solid rgb(174, 184, 119);
}
nav a{
    text-decoration:none;
    color:inherit;
    display: inline-block;
    padding:5px;
    font-weight: bold;
    font-size: large;
}
.slider{
    padding:5px;
    position: relative;
}
.slider h1{
    position:absolute;
    top:20px;
    left:20px;
    color:white;
    background-color: rgba(0, 0, 0, 0.5);
    padding:10px;
    border-radius: 5px;
}
.bookNow{
    position:absolute;
    bottom:20px;
    right:20px;
}
.buttonLeft{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}
.buttonRight{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}
#bookticket{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 25px 5px 25px;
    position:fixed;
    bottom: 0;
    right:0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:rgb(174, 184, 119);
    opacity: 0.9;
    color:seashell;
    border: none;
    border-radius: 5px;
    font-size: larger;
    cursor: pointer;
    z-index: 999;
}
footer{
    background-color: chocolate;
    opacity: 0.8;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin: 5px;
    color: #f5f5f5;
    bottom:0;
    left:0;
    right: 0;
}
footer .footer-logo{
    display: flex;
    flex: 2;
    padding: 0px;
    align-items: center;
    justify-content: center;
}
footer .footer-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer .footer-contact{
    display: flex;
    flex:1;
    flex-direction: column;
    padding: 20px;
    left:5;
}