header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px;
    margin:2px;
    background-color: rgb(174, 184, 119);
    color:white;
}
header hr{
    border:1px solid rgb(174, 184, 119);
}
nav a{
    text-decoration:none;
    color:inherit;
    display: inline-block;
    padding:5px;
    font-weight: bold;
    font-size: large;
}
.slider{
    padding:5px;
}